/* boostrape和eric meyer reset需要二選一 */
@charset"UTF-8";
@font-face {
	font-family: 'ARCK';
	src: url('./Archivo_Black/ArchivoBlack-Regular.ttf');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
} */

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 網頁常用設定a/img */
a {
	/* display: block; */
	text-decoration:none;
    
}
.content a{
    text-decoration:underline;
}
img {
	display: block;
    max-width: 80vw; /* 图片的最大宽度为其容器的100% */
    max-height: 100vh; /* 图片的最大高度为其容器的100% */
    /* height: auto; */
    /* width: 100%; */
}


*{
    cursor:cell;
}


body {
	line-height: 1;
    margin: 0;
    z-index: 999;
    /* overflow: hidden; */
    background: linear-gradient(to right, rgb(231, 231, 231), #ffffff);

    font-family:
	/*西文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
	/*中文*/ "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}
.container{
    /* border: 3px solid red; */
    color: rgb(236, 4, 4);
    margin: 20px;
    font-family: 'ARCK';
    z-index: 999;
}

.header{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 127px;
    cursor:cell;
    
}


#V{
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(-270deg);
    margin-top: 92px;
    
    
    /* margin: 460%; 調整上下文字之間的間距 */
    /* margin-top: 90px;
    transform: rotate(-270deg); */

    /* transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: large; */
}
#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-270deg);
    margin-bottom: 60px;
    

    /* transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    right: -10px;
    font-size: smaller; */
}
#sound{
    position: fixed;
    bottom: -430px;
    right: 22px;
    margin-bottom: 600px;
    border: 3px solid red;
    border-radius: 10px;
    border-width: 1px 15px;
    /* border-width: 3px ; */
    border-top: 10px;
    padding-inline: 2px;
    transition:0.3s ease, color 0.3s ease; /* 添加 color 的過渡效果 */
}

#sound:hover {

    transition:  0.3s ease;
    transform: translateY(-5px) scale(1.2); /* 同時向上位移並進行縮放 */
    border-color: linear-gradient(to right, #c0c0c0, #808080);
    color: #c0c0c0; /* 修改懸停時文字的顏色 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加立體效果的 text-shadow */
}
.nav{
    /* float: right; */ 
    font-size: 300%; 
    line-height: 1;
    margin-bottom: 1;
}
a{
    color: rgb(236, 4, 4);
}
.PIC{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    top: 0;
    left:0;
    z-index: -1;
    /* overflow: hidden; */
    
}
#about{
    display: flex;

}
.content{
    width: 50%;
    position: fixed;
    top: 30%;
    right:10%;
    margin: 10px;
    font-size: x-small;
    margin-right: 5%;
    /* border: 5px solid red; */
}
.contact{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    
}
.cont020act a {
    transition: color 0.3s ease;
    transition: color 0.3s ease-out
}

.contact a:hover{
    background: linear-gradient(to right, rgb(165, 163, 163), grey);
    background-clip: text; /* 將文字內容裁剪為背景 */
    color: transparent; /* 將文字設為透明，只顯示背景 */
   
}
.commission{
    margin: 30px;
    /* border: 5px solid red; */
}
.stills{
    margin: 30px;
    /* border: 5px solid red; */
}
.exhibition{
    margin: 30px;
    padding-right: 100px;
    /* border: 5px solid red; */

}
#defaultCanvas0{
    position: fixed;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}


a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

a{
    color: rgb(236, 4, 4);
    text-decoration: none;
    
}
a:hover {

    border-color: linear-gradient(to right, #c0c0c0, #808080);
    color: #c0c0c0; /* 修改懸停時文字的顏色 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加立體效果的 text-shadow */
}
