/* boostrape和eric meyer reset需要二選一 */
@charset"UTF-8";
@font-face {
	font-family: 'ARCK';
	src: url('./Archivo_Black/ArchivoBlack-Regular.ttf');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 網頁常用設定a/img */
a {
	/* display: block; */
	text-decoration: none;
}
img {
	display: block;
    /* width: 100%;
    height: 100%; */  
    object-fit: cover;
    
}
section img {
	display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;   
}

*{
    cursor:cell;
}

body {
	line-height: 1;
    margin: 0;
    overflow: visible;
    /* background: scroll; */
    background: linear-gradient(to right, rgb(231, 231, 231), #ffffff);

    font-family:
	/*西文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
	/*中文*/ "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}
.container{
    /* border: 3px solid red; */
    color: rgb(236, 4, 4);
    /* margin: 20px; */
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'ARCK';
}
.PIC{
    /* position: absolute;
	top: 0;
	left: 0;
    z-index: -1; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
    height: 100%;
    width: 127px;
    cursor:cell;
    background-color: transparent; /* 完全透明背景 */
}
#V{
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(-270deg);
    margin-top: 92px;
    transition:0.3s ease, color 0.3s ease; /* 添加 color 的過渡效果 */
}
#V:hover{

  transition:  0.3s ease;
  transform: translateY(-5px) scale(1.1) rotate(-270deg); /* 同時向上位移並進行縮放 */
  border-color: linear-gradient(to right, #c0c0c0, #808080);
  color: #c0c0c0; /* 修改懸停時文字的顏色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加立體效果的 text-shadow */
}
#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-270deg);
    margin-bottom: 60px;
    

    /* transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    right: -10px;
    font-size: smaller; */
}
#sound{
    position: fixed;
    bottom: -430px;
    right: 22px;
    margin-bottom: 600px;
    border: 3px solid red;
    border-radius: 10px;
    border-width: 1px 15px;
    /* border-width: 3px ; */
    border-top: 10px;
    padding-inline: 2px;
    transition:0.3s ease, color 0.3s ease; /* 添加 color 的過渡效果 */
}
#sound:hover {

  transition:  0.3s ease;
  transform: translateY(-5px) scale(1.2); /* 同時向上位移並進行縮放 */
  border-color: linear-gradient(to right, #c0c0c0, #808080);
  color: #c0c0c0; /* 修改懸停時文字的顏色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加立體效果的 text-shadow */
}

.nav{
    /* float: right; */ 
    font-size: 300%; 
}
a{
    color: rgb(236, 4, 4);
}

section {
    display: flex;
    justify-content: center; 
    align-items: center;
    /* border: 1px solid red; */
    height: auto;
  }

  
  .project-box {
    width: 100vw;
    height: auto;
    max-height: 600px;
    display: flex;
    position: relative;
    padding-top: 10%;
    font-family: 'ARCK';
    /* border: 1px solid red; */
  }

  
  .project-text1, .project-text3, .project-text5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: auto;
    z-index: 2; /* 確保文字在影片上方 */
    /* order: 1; */
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, .1); */
    /* border: 1px solid red; */
  
    
  }
  .project-text1 h3, .project-text3 h3, .project-text5 h3{
    /* display: flex; */
    /* justify-content: flex-end; */
    /* padding-right: 60%; */
    /* margin: 30px; */
    padding-left: 10%;
    padding-bottom: 5%;
    color: red;
    z-index: 999;
   z-index: 2;
   font-size: medium;
    /* border: 1px solid red; */
  }
  .project-text1 p, .project-text3 p, .project-text5 p{
    display: block;
    padding-left: 10%;
    padding-top: 5%;
    color: red;
    z-index: 999;
    font-size: x-small;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    /* padding-inline:10%; */
  }
  .horizontal-line1, .horizontal-line3, .horizontal-line5{
    display: block;
    /* margin-left: auto; */
    border-top:  1px solid red;
    width: 500px;
  }
  .project-text2, .project-text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: auto;
    order: 1;
    /* box-shadow: -3px -3px 8px rgba(0, 0, 0, .1); */
    z-index: 999;
  }


  

  .project-text2 h3, .project-text4 h3{
    padding-left: 10%;
    padding-bottom: 5%;
    color: red;
    z-index: 999;
    font-size: medium;
  }

  .project-text2 p, .project-text4 p{
    padding-left: 10%;
    padding-top: 5%;
    display: block;
    color: red;
    font-weight: 400;
    z-index: 999;
    font-size: x-small;
    /* padding-right: 38px; */
    /* overflow: hidden; */
    /* padding-inline:50px; */
  }


  .horizontal-line2, .horizontal-line4{
    display: block;
    margin-left: auto;
    border-top:  1px solid red;
    width: 500px;
  }

.playButton {
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 30px;
  display: block;
  align-items: center;
  justify-content: center;
}
.playButton::before {
  content: "\25B6";
  font-size: 60px;
  margin: 0; /* 調整箭頭的 margin，使其居中 */
  position: absolute; /* 將箭頭設置為絕對定位，相對於 .project-box */
  top: 50%; /* 上邊距為 50% */
  left: 50%; /* 左邊距為 50% */
  transform: translate(-50%, -50%); /* 使箭頭在中央 */
  color: darkred;
  
}

/* .video1,.video2,.video3,.video4,.video5{


} */
video{
  width: 100vw;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  
}
iframe{
  width: 100vw;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
*{
  background-color: #000000;
}


a{
  color: rgb(236, 4, 4);
  text-decoration: none;
  
}
a:hover {

  border-color: linear-gradient(to right, #c0c0c0, #808080);
  color: #c0c0c0; /* 修改懸停時文字的顏色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加立體效果的 text-shadow */
}







@media (max-width:768px) {

  .project-box {
    width: 100vw;
    height: auto;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

}


@media (max-width:768px) {
  
  .project-text1,.project-text3,.project-text5{

    padding-top: 5%;
    padding-bottom: 10%;
    order: 1;
    font-family: 'ARCK';
    font-size: x-small;
    /* z-index: 999;
    z-index: 2; */
}
.project-text1{
  padding-top: 10%;
}

.project-text2, .project-text4 {
  
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* flex: 1; */
  /* height: auto; */
  padding-top: 5%;
  padding-bottom: 10%;
  font-family: 'ARCK';}


.project-text1 h3,.project-text3 h3,.project-text5 h3{
  padding-left: 10%;
  padding-bottom: 5%;
  font-size: medium;
  /* z-index: 999; */
  font-weight: lighter;
}

.project-text2 h3, .project-text4 h3{
  padding-left: 10%;
  padding-bottom: 5%;
  color: red;
  font-weight: lighter;
  font-size: medium;
  /* z-index: 999; */
}

.project-text1 p,.project-text3 p, .project-text5 p{
  display: block;
  padding-left: 10%;
  padding-top: 5%;
  font-weight: 400;
  font-size: x-small;
}

  .project-text2 p, .project-text4 p{
    padding-left: 10%;
    padding-top: 5%;
    display: block;
    font-weight: 400;
    font-size: x-small;
    /* z-index: 999; */
  }

.video1,.video2,.video3,.video4,.video5{
  order: 1;
}
.horizontal-line1,.horizontal-line2,.horizontal-line3,.horizontal-line4,.horizontal-line5
{
  display: block;
  margin-left: auto;
  border-top:  1px solid red;
  width: 100vw;
}

  }






