@font-face {
	font-family: 'ARCK';
	src: url('./Archivo_Black/ArchivoBlack-Regular.ttf');
}
.motion{
    
}

.motion-box1{
    display: flex;
    margin:30px;
    justify-content: space-between; /* 確保子元素在容器中左右對齊 */
    

}
@media (max-width:768px) {
    .motion-box1{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }
}
.content1{
    position: relative; /* 確保子元素可以絕對定位 */
    flex-direction: column;
    display: flex;
    
}

.text1{
    /* border: 1px solid rgb(0, 213, 255); */
    display: block;
    margin-top: auto;
    margin-top: 10%;
    margin-bottom: 22%;
    margin-right: 10%; 
    color: red;
    font-family: 'ARCK';
    font-size: x-small;
    
}

.img1 img{
    display: block;
    width: 100vh;
    height: auto;
    /* border: 1px solid rgb(0, 255, 153); */
    max-width: 100%; 
    max-height: 100%;   
}

.img1{
    display: flex;
    justify-content: flex-start; /* 調整圖片在 img1 中的對齊方式 */
    margin-top: auto; /* 將 img1 推到 content1 的底部 */
    width: 100%; /* 圖片寬度與容器一致 */
    width: 25vh;
    max-width: fit-content;
    height: auto;
    /* border: 5px solid rgb(255, 0, 251); */
    border-right: 20px;
    object-fit: cover;
    margin-bottom: 2px;

    /* overflow: hidden; */
    /* padding-top: 35%; */
}
@media (max-width:768px) {
    .img1{
    display: flex;
    width: 32%;
    max-width: fit-content;
    height: auto;
    }
}

.video1{
    /* width: 100vh; */
    height: auto;
    max-width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
}

.video1 video{
    /* float: right; */
    width: 100vw;
    max-width: 800px;


    
}

.video2{
    /* border: 5px solid rgb(0, 26, 255); */
    /* width: 100vh; */
    height: auto;
    max-width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
}

.video2 video{
    /* float: right; */
    width: 100vw;
    max-width: 800px;
    /* border: 5px solid red; */
}

.motion-box2{
    margin-top: 5%;
    /* padding-right: 20px; */
    margin:25px; 
    justify-content: space-between; /* 確保子元素在容器中左右對齊 */
}
@media (max-width:768px) {
    .motion-box2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.content2{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    
}
@media (max-width:768px) {
    .content2{
        display: flex;
        flex-direction: column;
    
    }
}

.img2 img, .img2-1 img{
    width: 80%; /* 讓圖片寬度跟隨容器的寬度 */
    height: auto; /* 讓圖片高度自動調整以保持比例 */
    object-fit: cover; /* 確保圖片內容適合容器 */
    
}

.img2, .img2-1{
    width: 28vh;
    max-width: fit-content;
    height: auto;
    margin-bottom: 0;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}
@media (max-width:768px) {
    .img2{
        width: 100%; /* 讓容器寬度填滿父容器 */
        max-width: 100%; /* 確保最大寬度不超過100% */
        /* width: 50vh;
        max-width: fit-content; */
        height: auto;
        margin-bottom: 0;
        /* object-fit: cover; */
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    
    }
}

@media (max-width:768px) {
    .img2-1{
        width: 100%; /* 讓容器寬度填滿父容器 */
        max-width: 100%; /* 確保最大寬度不超過100% */
        /* width: 50vh;
        max-width: fit-content; */
        height: auto;
        margin-bottom: 0;
        /* object-fit: cover; */
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    
    }
}



.img2-1{
    justify-content: space-between;
}


.text2{
    
    /* border: 1px solid rgb(0, 213, 255); */
    display: block;
    margin-top: auto;
    margin-bottom: 5%;
    /* margin-right: 10%;  */
    color: red;
    font-family: 'ARCK';
    font-size: x-small;
}
.screenshot{
    /* border: 5px solid red; */
    display: flex;
}